# Ambientes Python e cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Dados e modelos grandes
*.h5
*.zip
*.png
*.jpg
*.jpeg
*.csv
*.npy
*.npz
*.pt
*.pth

# Pastas de treino/teste
pizza_steak/train/
pizza_steak/test/
untitled_project/trial_*/

# Outros
24.3.25/
ml_env/
env/
venv/
.ml_env/
ml_env/
.env/